{{define "index.html"}}{{template "head" .}}<header>
<h1>{{.Fleet}}</h1>
{{if .All}}<a href="/">hide finished</a>{{else}}<a href="/?all=1">show finished</a>{{end}}
</header>
<main class="grid">
<section>
<iframe src="/supervisor/panel" title="supervisor" class="panel"></iframe>
<iframe src="/supervisor/log#end" title="conversation" class="log"></iframe>
{{if .Send}}<form method="post" action="/supervisor/send">
<input type="hidden" name="csrf" value="{{.Token}}">
<textarea name="text" required placeholder="Message the supervisor"></textarea>
<div class="row"><button>Send</button></div>
</form>{{end}}
</section>
<iframe src="/cards{{if .All}}?all=1{{end}}" title="tasks" class="cards"></iframe>
</main>
{{template "foot"}}{{end}}
